<ion-view view-title="Ramen">
  <ion-content>
    <ion-list data-ng-repeat="business in businesses">
    <!-- <p><date-input name="info.name" message="info.message"></date-input></p> -->
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{business.name}}</h2>
<!--         <p>{{chat.lastText}}</p> -->
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
